<!DOCTYPE html>
<html>
  <head>
    <title>MemoBlog</title>
    <link rel="shortcut icon" href="{{site.url}}/mustang.ico" >
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{site.url}}/css/Theme.css">
    <meta charset ="utf-8">
  </head>

  <body>
    <header>
      <a href="{{site.url}}/index.html">
        <h1 id="title">Alain Lam</h1>
      </a>
    </header>
    <main>

        {{ content }}

    </main>
    <footer>
      <div class="end">
        <p>2018 &copy Alain Lam</p>
      </div>
    </footer>
  </body>

</html>
